<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Donation Clothes</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <a class="navbar-brand" href="#"><img src="img/logo1.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/home">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OUR WORK</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Where We Work
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mumbai</a>
          <a class="dropdown-item" href="#">Pune</a>
          <a class="dropdown-item" href="#">Hyderabad</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"> Contact</a>
      </li>

      <li>
      	 <button class="btn btn-warning btn-md"> &#36; DONATE</button>
      </li>
      
      <li>
      	<div class="btn-aaa">
	       	 <button class="btn btn-warning btn-md" ><a href="/logout"> LOGOUT</a></button>
		 </div>
      </li> 
    </ul>    
  </div>
</nav>

<!-- Start -->
<div class="don">
<div class="container-fluid padding text-center">
	<h1>Donate Clothes & More to Charity - <h3>Free Donation Pick Up Nationwide!</h3></h1> 
	<br>
	<div class="row welcome text-center"> 
		<div class="col-8"> 	 	
			<p class="h6 lead">Did you know that there are dozens of charities that will actually send a truck to your home and pick up your used clothing donations and other household items donations? The Donation Town donation pick up service directory connects donors with charities all over the country that offer free donation pick up service. The charities in our directory accept clothing donations, furniture donations, toy donations, shoe donations, general household item donations, and MORE! </p>
			<p class="h6 lead">Check out our complete list of acceptable donations. Many of these charities will accept ALMOST ANYTHING! Clean out your closets and garage! Donate used clothing and other household items to a local charity!</p>
		</div> 
	
		<div class="col-4 card" style="width: 18rem;">
			<div class="card-body">
    			<h5 class="card-title">Donate Clothes </h5>
    			<p class="card-text">Schedule a free donation pick up now!</p>
    			<a href="/pickupSchedule" class="btn btn-primary">Click Here !</a>
  			</div>
		</div>
	</div>	
</div>
</div>
<!-- End -->


<!-- Start tax section -->
<div class="taxito">
<div class="container padding ">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 >Benefits of Donating !</h1>
		</div>	
	</div>
</div>
<!--- Cards -->
<div class="container padding">
	<div class="row padding">

		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/chari.jpg">
				<div class="card-body">
					<h4 class="card-title text-center">Charitable Tax Deductions</h4>
					<ul>
						<li class="card-text">Make a tax deductible donation of clothing, shoes, furniture or other household items.</li>
						<li class="card-text">Save money on your taxes by donating non-cash items to charity!</li>
					</ul>
					<div class="text-center">
						<a href="#" class="btn textcenter btn-outline-secondary">See Profile</a>
					</div>	
				</div>
			</div>	
		</div>

		<div class="col-md-4">
			<div class="card ">
				<img class="card-img-top" height="155px" src="img/recycling.jpg">
				<div class="card-body">
					<h4 class="text-center card-title">Donating is Recycling</h4>
					<ul>
						<li class="card-text">Donate your used clothing and household items to charity</li>
					 	<li class="card-text">Keep it out of the landfills and help some deserving charities</li>
					 </ul>	
					 <br>
					 <div class="text-center">
						<a href="#" class="btn btn-outline-secondary">See Profile</a>
					 </div>
				</div>
			</div>	
		</div>

		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="img/get.jpg">
				<div class="card-body">
					<h4 class="card-title text-center">Get Organized!</h4>
					<ul>
						<li class="card-text">Clean out your closet or garage and make a donation today!</li>
						<li class="card-text">It will make a big difference to some deserving charities.</li>
					</ul>
					<br>
					<div class="text-center">
						<a href="#" class="btn btn-outline-secondary">See Profile</a>
					 </div>

				</div>
			</div>	
		</div>
	</div>	
</div>	
</div>
<!-- End taxt section -->
<!-- Start Services -->
	<div id="services" class="container-fluid text-center">
  <h2>JOIN THE WORLD’S BIGGEST FAMILY</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv1.png"></span>
      <h4>PARTNER WITH US</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv2.png"></span>
      <h4>CAREER</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv3.png"></span>
      <h4>VISIT US</h4>
    </div>
  </div>
  <br><br>
  
    </div>
  </div>
</div>
<!-- End Services -->
<!-- Subscribe -->
<div class="bg-sub">
	<div class="container-fluid sub">
		<h2 class="text-center color-white"> SUBSCRIBE </h2>
		<h4 class="text-center">STAY INFORMED. Subscribe to our newsletter.</h4>	
		<form action="MailServlet" method="post" id="nameform">
			 
			<input type="text" class="form-control txt-subscribe center-block mr-auto ml-auto " name="email" required="required" placeholder="Your email address" />
			<div class="text-center">
			<button type="submit" form="nameform" class="btn btn-danger mr-auto ml-auto" onclick="alert('Thank you for subscribing !')" value="Subscribe">Subscribe </button> 
			</div>
		</form>
	</div>
</div>	
<!-- END Subscribe  -->

<footer>
		<div class="container padding">
			<div class="row text-center">
				<div class="col-md-4">
					<hr class="light">
					<h5>About Us</h5>
					<hr class="light">
					<p>History</p>
					<p>Vision and Missions</p>
					<p>Issues and Views</p>
					<p>Financials</p>
				</div> 
				<div class="col-md-4">
					<hr class="light">
					<h5>How Can You Help</h5>
					<hr class="light">
					<p>Donate Online</p>
					<p>Other ways to Donate</p>
					<p>Campaigns</p>
					<p>Shop</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Get Information</h5>
					<hr class="light">
					<p>Privacy Policy</p>
					<p>Acknowledgement</p>
					<p>Contact Us</p>
					<p>Resources</p>
				</div>
				<div class="col-12">
					<hr class="light">
					<h5>&copy; hellohero.com</h5>
				</div>	
			</div>
		</div>
	</footer>
<!--- Script Source Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>