<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-Facilities for NGO</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <a class="navbar-brand" href="#"><img src="img/logo1.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">OUR WORK</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Where We Work
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mumbai</a>
          <a class="dropdown-item" href="#">Pune</a>
          <a class="dropdown-item" href="#">Hyderabad</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about"> CONTACT </a>
      </li>

      <li>
      	 <button class="btn btn-warning btn-md">&#36; DONATE</button>
      </li>
      
      <li>
      	 <div class="btn-aaa">
	       	 <button class="btn btn-warning btn-md" ><a href="/logout"> LOGOUT</a></button>
		 </div>
      </li> 
    </ul>    
  </div>
</nav>

<!-- Start Landing Page Section -->
<div class="landing">
	<div class="home-wrap">
		<div class="home-inner">			
		</div>		
	</div>
</div>

<div class="caption text-center">
	<h1>ALL LIVES</h1>
	<h1>HAVE EQUAL VALUE</h1>
	<h3>we are impatient optimists working to reduce inequity</h3>
	<a class="btn btn-warning btn-lg" href="#knowmore">Know More</a>
	<a class="btn btn-info btn-lg" href="#donatenow">Donate Now</a>
</div>

<!-- End Landing Page Section -->
</div>
<!--- End Home Section -->

<!-- Start what we do -->
<div class="container-fluid padding text-center">	
	<h1 >WHO WE ARE</h1>
	<p class="lead"> We act as a catalyst, creating opportunities for people living in poverty to realise their potential. </p>
	<p class="lead">Join the world’s biggest family.</p>
	<p class="lead">Small is beautiful, scale is necessary.</p>
	<p class="lead"><a href="#">Learn More</a></p>	
</div>	
<!-- End what we do-->

<!--Section -->
	<div class="album py-5 bg-light">
		<div class="container">
			<h1 class="text-center">How You’re Changing Children’s Lives</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 shawdow-sm">
							<title>Placeholder</title>
							<img width="100%" height="100%" src="img/d1.jpg">
							<div class="card-body">
             					<h3 class="card-text"> Donate Clothes...</h3>
              				  	<div class="d-flex justify-content-between align-items-center">
              			   	   	<div class="btn-group btn-aa">
                 				 <button type="button" class="btn  btn-md btn-dark"><a href=/donationClothes>Learn More..</a></button>
                			    </div>
              				  </div>
            			</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card mb-4 shawdow-sm">
							<title>Placeholder</title>
							<img width="100%" height="100%" src="img/c2.jpg">
							<div class="card-body">
             					<h3 class="card-text">Sponsor a Child </h3>
              				  	<div class="d-flex justify-content-between align-items-center">
              			   	   	<div class="btn-group btn-aa">
                 				 <button type="button" class="btn btn-md btn-dark"><a href="/sponsorChild">Learn More..</a></button>
                			    </div>
              				  </div>
            			</div>
					</div>	
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shawdow-sm">
							<title>Placeholder</title>
							<img width="100%" height="100%" src="img/d1.jpg">
							<div class="card-body">
             					<h3 class="card-text">Buy a Gift</h3>
              				  	<div class="d-flex justify-content-between align-items-center">
              			   	   	<div class="btn-group btn-aa">
                 				 <button type="button" class="btn btn-md btn-dark"><a href="#">Learn More..</a></button>
                			    </div>
              				  </div>
            			</div>
					</div>	
				</div>
			</div>
		</div> 

	</div>
<!-- End Section -->


<!-- Start Services -->
<div id="services" class="container-fluid text-center">
  <h2>JOIN THE WORLD’S BIGGEST FAMILY</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv1.png"></span>
      <h4>PARTNER WITH US</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv2.png"></span>
      <h4>CAREER</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon logo-small"><img height="100px" width="100px" src="img/serv3.png"></span>
      <h4>VISIT US</h4>
    </div>
  </div>
  <br><br>
  
    </div>
  </div>
</div>
<!-- End Services -->
<!-- Subscribe -->
<div class="bg-sub">
	<div class="container-fluid sub">
		<h2 class="text-center color-white"> SUBSCRIBE </h2>
		<h4 class="text-center">STAY INFORMED. Subscribe to our newsletter.</h4>	
		<form action="/email/sendEmail" method="get" id="nameform">
			 
			<input type="text" class="form-control txt-subscribe center-block mr-auto ml-auto " name="email" required="required" placeholder="Your email address" />
			<div class="text-center">
			<button type="submit" form="nameform" class="btn btn-danger mr-auto ml-auto" onclick="alert('Thank you for subscribing !')" value="Subscribe">Subscribe </button> 
			</div>
		</form>
	</div>
</div>	

<!-- END Subscribe  -->

<footer>
		<div class="container padding">
			<div class="row text-center">
				<div class="col-md-4">
					<hr class="light">
					<h5>About Us</h5>
					<hr class="light">
					<p>History</p>
					<p>Vision and Missions</p>
					<p>Issues and Views</p>
					<p>Financials</p>
				</div> 
				<div class="col-md-4">
					<hr class="light">
					<h5>How Can You Help</h5>
					<hr class="light">
					<p>Donate Online</p>
					<p>Other ways to Donate</p>
					<p>Campaigns</p>
					<p>Shop</p>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h5>Get Information</h5>
					<hr class="light">
					<p>Privacy Policy</p>
					<p>Acknowledgement</p>
					<p>Contact Us</p>
					<p>Resources</p>
				</div>
				<div class="col-12">
					<hr class="light">
					<h5>&copy; hellohero.com</h5>
				</div>	
			</div>
		</div>
	</footer>
<!--- Script Source Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>